

body {
    background: rgb(64, 149, 247);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* welcome screen  */

.title {
    font-size: 50px;
    font-weight: bolder;
    color:black;
    line-height: 1.25;
    padding-bottom: 8px;
}

.instructions {
    font-weight: bold;
   
}

.welcome-heading {
    background: darkgray;
    border: 7px solid black;
}

.sorted-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

}

.rdo-button {
    font-size: 16px;
}

.full-exam-wrapper {
    background: darkgray;
    padding: 10px;
    margin-top: 10px;
}

.full-exam-title {
    font-size: 22px;
    font-weight:bold;
   
}

.welcome-button {
    display: block;
    margin: auto;
    
}

#quiz-full-submit {
    margin-bottom: 10px;
    margin-top: 5px;
}


.practice-wrapper {
    background: darkgray;
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;

}


.welcome-area {
    background: whitesmoke;
    display: block;
    margin: 0 auto;
}

#quiz-tens-submit {
    margin-top: 5px;
}

.form-title {
    font-size: 18px;
    font-weight: 800px;
    /* margin-bottom: 5px; */
}

/* .custom-area {
    margin-top: 20px;
   

} */
#quiz-length {
    width: 50px;
    font-size: 18px;
}


.custom-wrapper {
    margin-top: 10px;
}

#quiz-length-submit {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* .custom-btn-area {
    margin-top: 46px;
} */


/* quiz screen  */

#display-selected-area {
    height: 50px;
}

.title-quiz {
    font-size: 36px;
    font-weight: bold;
   
}

.display-question,
.display-question-area {
    font-size: 30px;
   
    text-decoration: underline;
}

#display-selected-area,
#display-selected {
    font-size: 25px;
    color: red;
}

#selection-area {
    font-size: 30px;
   
}

#submit-button {
    font-size: 18px;
    margin-top: 8px;
}


/* results screen  */

.title-results {
    font-size: 36px;
    font-weight: bold;
   
}

.title-results-sub {
    font-weight: bold;
    
}

.result-box {
    background: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-head {
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}

.grade {
    font-size: 35px;
    color: black;
    font-weight: bold;
}




.display-results {
   
    font-size: 20px;
}

.correct {
    font-size: 38px;
    font-weight: bolder;
    color: green;
}

.all-correct {
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
    color: black;
   
}

.result-question{
    font-size: 30px;
    text-decoration: underline;
    margin-top: 30px;
}

.result-correct-answer {
    font-size: 20px;
    color: rgb(30, 124, 30);
}

.result-selected-answer-title {
    color: black;
    font-size: 18px;
}

.result-selected-answer {
    font-size: 20px;
    color: red;
    text-decoration:line-through;
    /* margin-bottom: 30px; */
}

#reset {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}